/* Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap");

body {
    margin: auto;
    padding: auto;
    background-color: rgb(25, 25, 25);
    color: lightgray;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 2% 10% 2% 10%;
    font-size: large;
    font-family: Poppins, sans-serif;
}

.sobre-mi {
    display: inline-flex;
    margin-bottom: 5%;
    flex-direction: row;
}

.texto-sobre-mi {
    justify-content: left;
    text-align: justify;
    text-justify: inter-word;
}

.foto-perfil {
    justify-content: right;
    margin-left: 5%;
}

p, a {
    font-family: Inter, sans-serif;
    line-height: 1.25;
}

h1, h2 {
    color: goldenrod;
}

h3 {
    color: lightcoral;
}

hr {
    border: 1px solid lightcoral;
    opacity: 0.5;
    margin: 1% 0 3% 0;
}

a {
    color: lightblue;
}

a:hover {
    color: deepskyblue;
}

header {
    width: 100%;
}

h1 {
    font-size: 75px;
    margin-bottom: 0;
}